body{
    margin:0;
    /* border:2px solid red; */
    background-color:burlywood;
    background: url('./Untitled.jpg') no-repeat center fixed;     
    background-size: cover;
   
}
h1{
    text-align:center;
}
main{

}
header{
    display: flex;
    /* border:1px solid black; */
    background-color:white;;
    width:100%;
    height:100px;
    justify-content:center;
}
header>img{
    /* border :2px solid blue; */
   
    justify-content:left;
    padding:0;
}

.optica-icon{
    padding: 0;
    background-color: dodgerblue;

}
.right-icon{
    
}

header>div{
    width:80%;
    /* border:2px solid black; */
    padding-left:70px;
    opacity:0.6;
    color:black;
   
    background-color: #ffffff
}

header>div>p{
    font-weight: bold;
  color: #000000;

}

.sidebar{
    border:3px solid black;
    width: 15%;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(167, 170, 163);
}
.options{
   
    /* border:10px solid green; */
    height:100%;
   
}

.list{
    justify-content:left;
    padding-right:300px;
    /* border-top:1px solid red; */
    margin-left:-30px;
    list-style-type: none;

}

.switch{
    
    /* border:2px solid yellow; */
    margin:40px;
    font-size:20px;
    margin-left:0px;
   ;
    
}